*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/*******************
        Navbar 
 *******************/
.navbar-brand{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1),2px 2px 4px rgba(0, 0, 0, 1);
}

.navbar-brand .brand1,
.navbar-brand .brand2{
    font-weight: 400;
    font-size : 1.5em!important;
    font-style: italic !important;
    letter-spacing: 2px !important;
}

.navbar-brand .brand2{
    color: #599cff;
}

.navbar-brand:hover .brand2{
    color: #0066ff;
}

.navbar .nav-link{
    font-size: .95em !important;
    transition: all 0.5s ease;
}

.navbar .nav-link.active{
    color: #599cff!important;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.navbar .nav-link:hover{
    color: #247cff!important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1), 1px 1px 2px rgba(0, 0, 0, 0.8);
}

/*******************
       Header
 *******************/
header{
    border-bottom: 2px solid rgba(0, 0, 0, 0.5)
}

header .page-heading h1{
    text-shadow: 1px 1px 1px rgba(0,0,0, 1), 2px 2px 2px rgba(0,0,0,0.9);
    letter-spacing: 2px;
}

header .page-heading .subheading{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    font-style: italic;
}


/*******************
        Main
 *******************/
.profile-card{
    position: sticky;
    top: 50px;
    left: 50px;
}

.card {
    color: #000;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(145deg, #fdfdfd, #ffffff);
    box-shadow: 1px 1px 10px #f3f8ff, -1px -1px 10px #eeeeee;
    border: none;
    cursor: default;
    transition: all 0.5s ease;
    margin-bottom: 20px;
}

.card:hover{
    box-shadow: 1px 1px 10px #b9d2f8, -1px -1px 10px #dbe9ff;
}

.card .profile-img img{
    width: 50%;
    border-radius: 50%;
}

.card h3{
    font-size: 1.5em;
}

.neo-button {
    outline: 0 !important;
    cursor: pointer;
    font-size: 1.3em;
    border: none;
    border-radius: 50%;
    margin: 0 5px;

}

.line {
    color: #fff
}

.fa-facebook {
    color: #3b5998
}

.fa-linkedin {
    color: #0077b5
}

.fa-twitter {
    color: #55acee
}

.fa-instagram { 
    color: #bc2a8d;
}

.fa-github { 
    color: #171515;
}

.list-inline-item .fa-github,
.list-inline-item .fa-facebook
.list-inline-item .fa-twitter{
    color: #fff!important;
}

.profile_button {
    color: rgb(0, 0, 0);
    padding: 5px 25px!important;
    border: none;
    outline: 0 !important;
    background: #fff;
    box-shadow: 2px 2px 4px #cce0ff, -2px -2px 4px #cddffa;
    transition: all 0.8s ease;
}

.profile_button.left{
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 5%;
}

.profile_button.right{
    border-top-left-radius: 5%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
}

.profile_button:hover{
    background: #599cff;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 4px #cce0ff, -2px -2px 4px #cddffa;
}

@media (max-width: 990px) {
    *{
        font-size: 14px;
    }
    .neo-button {
        margin: 0 2px;
    }
    .profile_button {
        padding: 2px 4px!important;
        font-size: .5em!important;
    }
}

@media (max-width: 769px) {
    *{
        font-size: 20px;
    }
    .neo-button {
        margin: 0px 6px;
    }
    .profile_button {
        padding: 10px 26px!important;
        font-size: 1em!important;
    }
}

@media (max-width: 450px) {
    *{
        font-size: 14px;
    }
    .neo-button {
        margin: 0px 3px;
    }
    .profile_button {
        padding: 8px 20px!important;
    }
}